$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sons-of-obsidian.css';

$dark: #272b30;

body{
    background-color: whitesmoke;
}

.well{
    border: none;
    background-color: transparent;
}

#view{
    color: #333;
    overflow: hidden;
}