$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sons-of-obsidian.css';

$dark: #272b30;

body{
    background-color: whitesmoke;
    padding-bottom: 40px;
    padding-top: 60px;
}

.main-content{
    margin-left: 240px;
    padding: 9px 0;
}

.well{
    border: none;
    background-color: transparent;
}

#view{
    color: #333;
    overflow: hidden;
}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav-fixed {
    position:fixed;
    top: 60px;
    bottom: 20px;
}

#source{
    height: 100%;
}